services:
  backend:
    build:
      context: ./backend
    env_file:
      - ./.env
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
    environment:
      PYTHONUNBUFFERED: "1"
      FLASK_ENV: development
      FLASK_DEBUG: "1"
    command: ["python", "app.py"]

  frontend:
    build:
      context: ./frontend
      target: build
      args:
        REACT_APP_API_BASE_URL: http://localhost:8080
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "true"
    command: ["npm", "start"]
    depends_on:
      - backend
